{% extends "base.html" %}

{% block titulo %} LISTA DE BOLSAS {% endblock %}

{% block contenido %}
<div class="bolsa">
    <div class="back-button-BLS">
        <a href="javascript:history.back()">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="16" height="16">
                <path d="M20 11H7.83l5.59-5.59L12 4l-8 8 8 8 1.41-1.41L7.83 13H20v-2z" fill="currentColor"/>
            </svg>
            Atrás
        </a>
    </div>
    <div class="bolsaF">
        <h4 class="card-bolsaF">
            <i class="titulo-bolsaF"></i>ALIMENTO SUELTO
        </h4>
    </div>
    <div class="card-bodybolsaF">
        <div class="table-responsivebolsaF">
            <table class="tablee-bolsaF">
                <thead>
                    <tr class="tr-bolsaF">
                        <th scope="col" class="text-center">#</th>
                        <th scope="col">PRODUCTO</th>
                        <th scope="col" class="text-cente">PRECIO RESTANTE</th>
                        <th scope="col" class="text-center">FECHA APERTURA</th>
                        <th scope="col" class="text-cente">PRECIO ORIGINAL</th>
                        <th scope="col" class="text-center">ÚLTIMO 50%</th>
                        <th scope="col" class="text-center">ESTADO</th>
                        <th scope="col" class="text-center">FECHA CIERRE</th>
                    </tr>
                </thead>
                <tbody>
                    {% for bolsa in bolsas %}
                    <tr class="tr-bolsaFB">
                        <td class="bolsaFtx">{{ bolsa.id }}</td>
                        <td>
                            <div class="tx-bolsaF">
                                {% if bolsa.producto.animal == 'Gato' %}
                                    <i class="text-info"></i>
                                {% else %}
                                    <i class="text-warning"></i>
                                {% endif %}
                                <div>
                                    <strong>{{ bolsa.producto.marca }}</strong><br>
                                    <small class="text-mutedB">{{ bolsa.producto.animal }} - {{ bolsa.producto.peso }}kg</small>
                                </div>
                            </div>
                        </td>
                        <td class="text-endbolsaF">
                            <strong class="text-successbolsaF">{{ bolsa.precio_restante }} ARS</strong>
                        </td>
                        <td class="text-bolsaFbl">{{ bolsa.fecha_apertura|date:"d/m/Y H:i" }}</td>
                        <td class="text-bolsaFvlx">{{ bolsa.precio_original }} ARS</td>
                        <td class="text-bolsaFz">
                            {% if bolsa.en_ultimo_50_porciento %}
                                <span class="desbolsaF">50% OFF</span>
                            {% else %}
                                <span class="badg-bolsaF">Normal</span>
                            {% endif %}
                        </td>
                        <td class="text-bolsaFt">
                            {% if bolsa.esta_abierta %}
                                <span class="bg-bolsaFsuccess">Abierta</span>
                            {% else %}
                                <span class="bg-bolsaFdanger">Cerrada</span>
                            {% endif %}
                        </td>
                        <td class="text-bolsaFph">
                            {% if bolsa.fecha_cierre %}
                                {{ bolsa.fecha_cierre|date:"d/m/Y H:i" }}
                            {% else %}
                                <span class="text-bolsaFe">-</span>
                            {% endif %}
                        </td>
                    </tr>
                    {% empty %}
                    <tr>
                        <td colspan="8" class="text-bolsaFq">
                            <i class="bolsaFsw"></i>
                            <p class="nota-bolsaF">No hay bolsas abiertas en este momento.</p>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock %}